.banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.banner .img1 {
    width: 200px;
}

.banner .img2 {
    width: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.banner .img3 {
    width: 100%;
    max-width: 1300px;
}

.banner .box-button {
    display: flex;
    justify-content: center;
    /* margin-left: -70px; */
    margin-top: 40px;
}

.banner .box-button a {
    background-color: #08BBE9;
    color: #FFF;
    font-size: 18px;
    padding: 7px 20px;
    border-radius: 20px;
}

.banner .row1 {
    position: relative;
    width: 40%;
    /* height: 100 !important; */
    padding-right: 30px;
    /* background-color: red; */
}

.banner .row2 {
    width: 60%;
    margin-right: -30px;
    display: flex;
    justify-content: flex-end;
}

.banner .banner-text {
    color: #1E0E62;
    font-size: 40px;
    font-weight: bold;
}

.banner .box-text {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.banner .box-img2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
    margin-right: -30px;
}

@media only screen and (min-width: 50px) and (max-width: 900px) {
    .banner .row1 {
        width: 100%;
        padding-right: 0px;
    }

    .banner .row2 {
      display: none;
    }

    .banner .img1 {
        width: 150px;
        margin-bottom: 30px;
    }

    .banner .img2 {
        width: 120px;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .banner .box-button {
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1000px) {
    .banner .row1 {
        /* padding-bottom: 200px; */
    }

    .banner .row2 {
        padding-bottom: 200px;
    }
}  

@media only screen and (min-width: 1001px) and (max-width: 1230px) {
    .banner .row1 {
        /* padding-bottom: 200px; */
    }

    .banner .row2 {
        padding-bottom: 150px;
    }
} 
