.contato {
    background-color: #10104F;
}

.contato .content{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.contato .title{
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.contato .text{
    color: #B7B7CA;
    font-weight: 500;
}

.text-blue {
    color: #08BBE9;
}


.contato .box-texts {
    margin-right: 150px;
    margin-right: 100px;
}

.contato .row1 {
    margin-top: -13%;
 }

.contato .row2 {
    width: 80%;
    max-width: 1500px;
    display: flex;
    justify-content: center;
}


.contato img.img {
    width: 400px;
}

.contato .form {
    background-color: #FFF;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.contato .form label{
    color: #10104F;
    font-size: 14px;
    font-weight: bold;
}

.contato .form input{
    width: 300px;
    padding: 15px 20px;
    border-radius: 50px;
    border: none;
    border: solid 2px #EBEAED;
    background-color: none;
    margin-bottom: 25px;
    margin-top: 10px;
    color: #8e8e8e;
}

.contato .form .cidade-estado {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contato .form .cidade-estado input{
    width: 150px;
}

.contato .form .cidade-estado select{
    width: 130px;
    padding: 15px 20px;
    border-radius: 50px;
    border: none;
    border: solid 2px #EBEAED;
    color: #8e8e8e;
    background-color: none;
    margin-bottom: 25px;
    margin-top: 10px;
}

.contato .form .box-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.contato .form .box-button button {
    width: 100px;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: #08BBE9;
    color: #fff;
    font-size: 18px;
}

@media only screen and (min-width: 50px) and (max-width: 900px) {
    .contato .row1 {
        display: none;
    }

    .contato .content .row2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }

    .contato .form {
       margin-top: 40px;
    }

    .contato .title {
        font-size: 25px;
        width: 100%;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1299px){
    .contato .content{
        /* background-color: red; */
        justify-content: center;
    }
    .contato .row1 {
        display: none;
    }
    
    .contato .form input{
        width: 80%;
    }

    .contato .form .cidade-estado input{
        width: 60%;
    }

    .contato .form .cidade-estado select{
        width: 70%;
    }
}
