.duvidas {
    position: relative;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

.duvidas .row1{
    display: flex;
    position: relative;
    justify-content: center;
    width: 50%;
}

.duvidas .row2{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

.duvidas .super {
    position: absolute;
    width: 60px;
    right: 130px;
    top: 30px;
}

.duvidas .sphere {
    position: absolute;
    width: 190px;
    right: 0;
    bottom: 0;
}

.duvidas .cylinder {
    position: absolute;
    width: 140px;
    left: 0;
    bottom: 120px;
}

.duvidas .box-principal {
    /* background-color: #08BBE9; */
}

.duvidas .box-secundario {
    background-color: #10104F;
    width: 450px;
    height: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin-left: 70px;
}


.duvidas .box-secundario h2 { 
    color: #FFF;
    font-size: 30px;
    padding: 35px 0px;
    padding-bottom: 35px;
}

.duvidas .box-secundario .text {
    color: #FFF;
    text-align: center;
}

.duvidas .box-secundario .sub-text {
    margin-top: 30px;
}

.duvidas .box-secundario .email {
    color: #08BBE9;
    margin-top: 5px;
}

.duvidas .tirar-duvidas {
    border-bottom: #e1e2e6 solid 2px;
    width: 80%;
    margin-bottom: 20px;
}

.duvidas .tirar-duvidas button { 
    color: #1E0E62;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.duvidas .tirar-duvidas .seta { 
    margin-top: -5px;
}

.duvidas .tirar-duvidas span {
    font-weight: bold;
    font-size: 18px;
}

.duvidas .tirar-duvidas p {
    color: #A1A1B0;
    text-align: match-parent;
    font-size: 13px;
    margin-bottom: 20px;
    display: none;
}

.visible {
    display: block !important;
}


@media only screen and (min-width: 50px) and (max-width: 900px){ 
    .duvidas {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 20px;
    }

    .duvidas .row1{
        width: 80%;
    }

    .duvidas .row2{
        width: 100%;
        margin-top: 50px;
    }

    .duvidas .super {
        display: none;
    }
    
    .duvidas .sphere {
        display: none;
    }
    
    .duvidas .cylinder {
        display: none;
    }

    .duvidas .box-secundario {
        background-color: #10104F;
        width: 100%;
        margin-left: 0;
    }

    .duvidas .tirar-duvidas {
        width: 100%;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1299px){
    .duvidas .row1{
        width: 60%;
    }
}