.lincenciado {
    background-image: url("../img/Licenciado.png");

    display: flex;
    justify-content: center;
    align-items: center;
}

.lincenciado .content {
    max-width: 600px;
    text-align: center;

    margin-top: 80px;
    margin-bottom: 80px;

    /* background: red; */
}

.lincenciado .content h1 {
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
}

.lincenciado .content .box-button {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.lincenciado .content a {
    background-color: #FFF;
    color: #10104F;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 30px;
}