
.mudanca {
    background-image: url("../img/BannerMudanca.png");
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.mudanca .mudanca-header .mudanca-title-text {
    margin-top: 80px;
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}

.mudanca .mudanca-header {
    text-align: center;
    margin-bottom: 100px;
}

.mudanca .mudanca-header .mudanca-text{
    color: #7F808B;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
}

.mudanca .mudanca-content {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 80px;
}

.mudanca .mudanca-content .mudanca-content-title {
    /* margin-top: 80px; */
    color: #08BBE9;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: 2px;
    margin-top: 25px;
}

.mudanca .mudanca-content .mudanca-content-text {
    /* margin-top: 80px; */
    color: #7F808B;
    font-size: 14px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}
.mudanca .button-box {
    /* margin-top: 80px; */
}

.mudanca .button {
    display:inline-block;
    background-color: #08BBE9;
    color: #FFF;
    font-weight:  bold;
    font-size: 25px;
    padding: 10px 20px;
    /* width: 60px; */
    border-radius: 30px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 800px) {
    .mudanca .mudanca-content {
        margin-top: -50px;
        justify-content: center;
    }

    .mudanca .mudanca-header .mudanca-title-text {
        font-size: 30px;
    }

    .mudanca .button {
        font-size: 15px;
    }

    .box-content {
        width: 300px;
    }

    .mudanca .mudanca-header {
        padding: 5px
    }
    
}