.navbar {
    padding: 20px 10%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between ;

}

.navbar img {
    width: 150px;
}

.navbar div {
    display: flex;
    align-items: center;
}

.navbar a.download-app {
    color: #10104F;
    font-size: 16px;
}

.navbar a.portal {
    background-color: #08BBE9;
    color: #FFF;
    font-size: 18px;
    padding: 7px 20px;
    border-radius: 20px;
    margin-left: 20px;
}

@media only screen and (max-width: 700px) {
    .navbar {
        padding: 20px 3%;

    }
    .navbar img {
        width: 100px;
    }

    .navbar a.download-app {
        color: #10104F;
        font-size: 12px;
    }

    .navbar a.portal {
        background-color: #08BBE9;
        color: #FFF;
        font-size: 12px;
        padding: 7px 20px;
        border-radius: 20px;
        margin-left: 20px;
    }
  }
  