.produtos {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.produtos .header{
    margin-bottom: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 25px;
}

.produtos .img3 {
    /* width: 100%; */
    position: absolute;
    width: 220px;
    bottom: 0;
    right: 80px;
}

.produtos .row1 {
    width: 40%;
    height: 100%;
    margin-top: 100px;

}

.produtos .row2 {
    display: flex;
    width: 60%;
    height: 50%;
    justify-content: flex-end;
}

.produtos .produtos-title {
    color: #1E0E62;
    font-size: 40px;
    font-weight: bold;
}

.produtos .box-title {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    text-align: center;
}

.produtos .protutos-text {
    margin-top: 15px;
    color: #7F808B;
}

.produtos .produtos-content {
    display: flex;
    width: 70%;
    max-width: 1300px;
    justify-content: space-between;
    margin-bottom: 80px;
    /* flex-wrap: wrap; */
}

.produtos .produtos-content-2 {
    display: flex;
    width: 45%;
    max-width: 750px;
    justify-content: space-between;
    margin-bottom: 80px;
    /* flex-wrap: wrap; */
}

.produtos .produtos-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.produtos .produtos-detail .img{
  margin-bottom: 30px;
}

.produtos  .produtos-content-title {
    color: #10104F;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 30px;
}

.produtos .produtos-content-text {
    color: #7F808B;
    margin-bottom: 15px;
}

.produtos .img2 {
    position: absolute;
    width: 230px;
    left: 0;
    /* bottom: 120px */
    top: 0;
}

@media only screen and (min-width: 50px) and (max-width: 800px){
    .produtos .row1 {
        display: flex;
        margin-top: 40px;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .produtos .img2 {
        display: none;
    }

    .produtos .img3 {
        display: none;
    }


    .produtos .row2 {
        display: none;
    }

    .produtos .produtos-title {
        color: #1E0E62;
        font-size: 30px;
        font-weight: bold;
    
    }
    
    .produtos .box-title {
        margin-left: 0;
        width: 70%;
    }
    
    .produtos .protutos-text {
        margin-top: 15px;
        color: #7F808B;
    }

    .produtos .produtos-content, .produtos .produtos-content-2 {
        display: flex;
        width: 70%;
        max-width: 1300px;
        justify-content: center;
        margin-bottom: 80px;
        flex-wrap: wrap;
        margin-top: -80px;
    }

    .produtos .produtos-detail {
        margin-bottom: 40px;
    }
    
}

@media only screen and (min-width: 900px) and (max-width: 1200px){

    .produtos .produtos-content, .produtos .produtos-content-2 {
        display: flex;
        width: 80%;
        max-width: 1300px;
        justify-content: center;
        margin-bottom: 80px;
        flex-wrap: wrap;
        margin-top: -80px;
    }

    .produtos .img2 {
        width: 200px;
    }


    .produtos .img3 {
        display: none;
    }
    
}

@media only screen and (min-width: 2000px) {
    .produtos .header{
        padding-bottom: 70px;
    }
}