@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@import "./contato.css";
@import "./produtos.css";
@import "./mudanca.css";
@import "./video.css";
@import "./banner.css";
@import "./navbar.css";
@import "./duvidas.css";
@import "./blog.css";
@import "./footer.css";
@import "./lincenciado.css";


* {
    margin: 0px;
    padding: 0px;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    overflow-x: hidden;

}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: hidden;
    max-width: 100%;
}









