.video {
    /* background-color: #08BBE9; */
    background-image: linear-gradient(#08BBE9, #FFF);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}


.video .video-header {
    width: 70%;
    background: none;
    display: flex;
    justify-content: center;
    z-index: 4;
}

.video .video-header .video-title-text {
    margin-top: 40px;
    color: #FFF;
    font-size: 35px;
    font-weight: bold;
}

.video .video-header .box-text{
    margin-bottom: 20%;
    /* background-color: red; */
    text-align: center;
}

.video .video-header .video-box-img-1{
}

.video .video-header .box-video-text {
}

.video .video-header .video-text {
    color: #FFF;
    font-size: 13px;
    /* text-align: center; */
}

.video .video-img-1{
    width: 450px;
}

.video .box-video-play {
    overflow: hidden;
    width: 60%;
    height: 60vh;
    /* margin-top: -10%; */
    margin-bottom: 40px;
    z-index: 2;
}

.video .video-img-2{
    width: 400px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 3;
}

.video .video-img-3{
    width: 400px;
    position: absolute;
    top: 150px;
    right: 0px;
}

@media only screen and (min-width: 50px) and (max-width: 900px) {
    img.video-img-1 {
        display: none;
    }

    img.video-img-2 {
        display: none;
    }

    .video .video-img-3{
        width: 200px;
        top: 50%;
    }

    .video .video-header .box-video-text {
        /* width: 200px; */
    }


    .video .video-header .video-text {
        color: #FFF;
        font-size: 13px;
        margin-bottom: 150px;
    }

    .video .video-header {
        width: 90%;
        z-index: 0;
    }

    .video .box-video-play {
        /* overflow: hidden; */
        width: 90%;
        margin-top: -10%;
        /* height: 60vh; */
        /* margin-top: -10%; */
        /* margin-bottom: 40px; */
        z-index: 2; 
    }

    
}

@media only screen and (min-width: 901px) {
    .video .video-header .box-video-text {
        width: 470px;
    }

    .video .video-img-2{
        width: 260px;
    }

    .video .video-img-3{
        width: 260px;

    }

    .video .box-video-play {
        width: 70%;
        margin-top: -10%;
    }
}

@media only screen and (min-width: 1000px) {
    .video .box-video-play {
        width: 70%;
        /* margin-top: -10%; */
        height: 70vh;
    }
}

@media only screen and (min-width: 2000px) {
    .video .box-video-play {
        width: 70%;
        margin-top: -8%;
        height: 90vh;
    }
}